# This is an example template for using with mkSecrets
# Using ';insecure' at the end of the comment line will prevent hiding keystrokes during input!

declare -A secrets=(
    [uiPassword]="This Password is used to set the Admin account"
    [appToken]="Enter the API-Token;insecure"
)